@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.neon-blue {
  font-family: neon;
  color: #426DFB;
  font-size: 6.5rem;
  animation: neon-blue 1s ease infinite;
}

.neon-orange {
  font-family: neon;
  color: #FB4264;
  font-size: 6.5rem;
  animation: neon-orange 2s linear infinite;
}