.board {
  margin: 0 auto;
  border-radius: 1rem;
}

table tr:first-child td:first-child { border-radius: 1rem 0 0 0; }
table tr:first-child td:last-child { border-radius: 0 1rem 0 0; }
table tr:last-child td:first-child { border-radius: 0 0 0 1rem; }
table tr:last-child td:last-child { border-radius: 0 0 1rem 0; }