main {
  background-color: #424242;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-auth-selection {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 39rem;
}

.btn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 6rem;
  border-radius: .6rem;
  border: none;
  color: white;
  background-color: transparent;
  box-shadow: 0 .2rem .5rem rgba(255, 166, 0, 0.4);
  transition: all .25s;
  user-select: none;
  cursor: pointer;
}

.btn:hover {
  border-radius: 0rem;
  transform: translateY(-.4rem);
  box-shadow: 0 .8rem .5rem rgba(255, 166, 0, 0.2);
}

.btn-primary {
  background-color: orange;
}

.btn-secondary {
  border: .2rem solid orange;
  color: orange;
}