.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-container {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.auth-cta {
  color: white;
  animation: pulse 1.5s infinite ease-out;
}

.btn {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 1rem 7rem;
  border-radius: .6rem;
  border: none;
  color: white;
  background-color: transparent;
  box-shadow: 0 .2rem .5rem rgba(255, 166, 0, 0.4);
  transition: all .25s;
  user-select: none;
  cursor: pointer;
  outline: none;
}

.btn.disabled {
  background-color: rgb(177, 177, 177);
  box-shadow: none;
  pointer-events: none;
}

.btn.disabled:hover {
  border-radius: .6rem;
  transform: inherit;
  box-shadow: inherit;
}

.btn:hover {
  border-radius: 0rem;
  transform: translateY(-.4rem);
  box-shadow: 0 .8rem .5rem rgba(255, 166, 0, 0.2);
}

.btn-primary {
  background-color: orange;
}

.btn-secondary {
  border: .2rem solid orange;
  color: orange;
}