label {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: white;
  margin: 3rem 0;
}

input {
  margin-top: 1rem;
  border: none;
  outline: none;
  background-color:transparent;
  box-shadow: none;
  border-bottom: .15rem solid white;
  width: 18rem;
  height: 2.2rem;
  color: white;
  font-family: inherit;
  transition: border-bottom .2s;
}

input.valid { border-bottom: .15rem solid orange;}