body {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: monospace;
  box-sizing: border-box;
  font-size: calc(0.71vw + 2.5px);
}